@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #015249;
  overflow-x: hidden;
  height: 100%;
}
html {
  background-image: url(../images/recyclery-back.jpg);
  background-position: center center;
  background-size: contain;
  box-sizing: border-box;

}
body {
  position: relative;
}
.center {
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
  position: relative;
}

/* Fonts */
h1 {
  color: #015249;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}
.p {
  margin-left: 45px;
}

/* nav */
header {
  padding: 10px;
  height: 50px;
  background-color: #b3a580;

}
header a:hover {
  background-color: #b7c68b;
  transition: all .5s;


}
header a:active {
  background-color: white;
  color: #0b8944;
}
.logo {
  margin-top: 0px;
  height: 50px;
}
ul a, ul a:visited {
  color: #685642;
}
ul a:hover {
  color: #015249;
}
nav {
  height: 28px;
  background-color: floralwhite;
  margin-top: -14px;
}
.nav {
  margin-top: 0;
}

nav ul, .navUl {
  list-style: none;
  text-align: right;


}
nav li {
  display: inline-block;
  text-decoration: none;
  color: #015249;

}
nav a, nav a:visited {
  color: #0b8944;
  padding: 2px 10px;
  text-decoration: none;
}
nav a:hover {
  color: #685642
}
.settings {
  float: left;
}
/* ********Buttons *********/
.buttons {
   position:absolute;
  right: 0;
  bottom: 0;
}
.button1 {
  float: right;

  text-decoration: none;
  margin-top: -35px;
  padding: 5px 10px;
  color: #f4f0cb;
  background-color: #0b8944;
  border-radius: 25px;
  margin-left: 10px;

}
.button1 span {
  background-color: #f4f0cb;
  margin-left: 10px;
  border-radius: 50%;
  color: #0b8944;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
}
.button2 {
  display: block;
  text-decoration: none;
  margin-top: -15px;
  padding: 5px 10px;
  color: #f4f0cb;
  background-color: #0b8944;
  border-radius: 25px;
  margin-left: 10px;
  text-align: center;
}
.button3 {
  background-color: #685642;
  color: #f4f0cb;
}
.button2 a, .button1 a, button3 a, .button2 a:visited, .button1 a:visited, button3 a:visited {
  color: #0b8944;
}
.button4 {
  margin-top:10px;
  text-align: center;

}
.b5 {
  float: right;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  margin-top: 15px;
  font-size: 12px;
  color: #685642;
}

/* ****** Main ********/
.rideList {
  min-height: 220px;
  position: relative;
}
ul li {
  line-height: 1.8em;

}
.item {
  margin-top: 20px;
  margin-left: 0;
  display: block;
}
.price {
  margin: 0 10px;
  width: 60%;
  text-align: right;
  display: inline-block;
}
.total {
  text-align: right;
  width: 80%;
  display: inline-block;

}

label {
  width: 40%;
  min-width: 130px;
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
}
.label {
  width: 40%;
  min-width: 130px;
  display: inline-block;
  margin-top: 5px;
}
.inputs {
  width: 55%;
  display: inline-block;
  background-color: #f1f0f0;
  height: 28px;
  padding: 0 5px;
  color: #808080;
  margin-top: 2px;

}
.error {
  color: red;
}
.pwd {
  color: #685642;
  font-size: 14px;
  margin-bottom: 0;
}
.address {
  width: 50%;
  display: inline-block;
  font-size: 16px;
}
.hours {
  width: 30px;
  font-size: 16px;
}
.select {
  font-size: 16px;
  background-color: floralwhite;
}
.trailInfo {
  margin-left: -40px;
  margin-top: 5px;
  line-height: 2em;
  font-size: 16px;
}
.noMatch {
  border: solid 1px #FF0000;
  background-color: rgba(249,91,91,0.3);
}
.disabled {
  background-color: #b7c68b;

}

/* ********* popups **********/
.popup {

  position: absolute;
  top: 0;
  left: 5%;
  background-color: #b3a580;
  padding: 0 20px 20px 20px;
  width: 90%;
  max-width: 290px;

}
.popup .button1 {
  margin-top: 5px;
  float: right;
}
.popup .address {
  width: 150px;
}
.hide {
  visibility: hidden;
}
.noShow {
  display: none;

}


@media (min-width: 450px) {
  .popup {
    left: 15%;
  }
}
/* media queries medium */
@media (min-width: 600px) {
.center {
  width: 90%;
}
.item {
  display: inline-block;
  width: 310px;
}
.price {
  width: 60px;
}
.address {
  width: 55%;
}

}
/* media queries large */
@media (min-width: 800px) {
}

